## .NET build artifacts
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS
.idea/
.vs/
*.DotSettings.user

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Publish output
publish/
